/* common styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Baloo Da 2', cursive;
}

:root{
    font-size: 10px;
}
/* end of common styles */

/* section 1 */
.section-1{
    width: 100%;
    height: 100vh;
    background: url(images/dark-bg.jpeg)no-repeat;
    background-size: cover;
    position: relative;
}

.banner{
    width: 100%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.banner-heading{
    margin-bottom: 4rem;
    height: 20rem;
}

.banner-heading span{
    font-family: 'Oswald', sans-serif;
    font-size: 12rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-shadow: .3rem .3rem .6rem rgba(0, 0, 0, 0.5);
}

.banner-paragraph{
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
/* End of section 1 */